{% extends "base.html" %}

{% block content %}
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>LEETCODE BLOG</h1>
                        <hr class="small">
                        <span class="subheading">A Simple Blog Focus on LeetCode Solutions</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
                {% for post in posts %}
                <div class="post-preview">
                    <a href="/{{post.id}}/">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.content|truncatewords:2}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on {{post.date_time}}</p>
                </div>
                {% endfor %}
                <hr>
                <!-- Pager -->
                {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
                  <ul class="pager">
                  {% if post_list.has_previous %}
                  <li class="next">
                    <a href="?page={{ post_list.previous_page_number }}">NEWER</a>
                  </li>
                  {% endif %}

                  {% if post_list.has_next %}
                  <li class="next">
                    <a href="?page={{ post_list.next_page_number }}">OLDER</a>
                  </li>
                  {% endif %}
                  </ul>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock %}